* {
    box-sizing: border-box;
}

body,
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    height: 100%;
    overscroll-behavior-y: contain;
}

body,
button,
p,
ul {
    margin: 0;
    padding: 0;
}

button,
select {
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
}

a,
button,
input,
select,
textarea {
    -webkit-tap-highlight-color: transparent;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

:root {
    overflow-x: hidden;
    height: 100%;
}


body {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 14px;
    background: url(./background_stars.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin-top: -8px;
    margin-left: -8px;
}

.SubTitle {
    font-weight: 400;
    font-size: 17px;
    font-weight: bold;
}
.Section {
    font-weight: normal;
}


.SideIcon,
.CodeIcon {
    position: absolute;
    display: block;
    z-index: 1;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
    border-radius: 100%;
    font-size: 19px;
    letter-spacing: -0.1em;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
}
.CodeIcon {
    bottom: 0;
    right: 0;
}

@media (max-width: 600px) {
    .Side {
        z-index: 1;
    }
    .Iframe {
        left: 0;
        width: 100%;
    }
    .SideIcon {
        display: block;
    }
    [data-hideSidebar] .Side {
        transform: translateX(-100%);
    }
    
    [data-hideSidebar] .SideIcon {
        left: 0;
        transform: rotate(180deg);
    }
}


canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

select {
    color: white
}

.blur {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    cursor: pointer;
}

.blur h3 {
    width: 80%;
    text-align: center;
}

.blur svg {
    width: 80%;
    max-width: 128px;
    transition: transform 300ms ease-in-out;
}

.blur:hover > svg {
    transform: scale(1.3);
}

