<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Faraz Shaikh" />
    {% capture description %}{% if page.description %}{{ page.description | strip_html }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👻</text></svg>" />
    <link rel="stylesheet" href="{{ '/main.css' | relative_url }}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/solid.min.css" integrity="sha512-jQqzj2vHVxA/yCojT8pVZjKGOe9UmoYvnOuM/2sQ110vxiajBU+4WkyRs1ODMmd4AfntwUEV4J+VfM6DkfjLRg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css" integrity="sha512-OdEXQYCOldjqUEsuMKsZRj93Ht23QRlhIb8E/X0sbwZhme8eUw6g8q7AdxGJKakcBbv7+/PX0Gc2btf7Ru8cZA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/brands.min.css" integrity="sha512-apX8rFN/KxJW8rniQbkvzrshQ3KvyEH+4szT3Sno5svdr6E/CP0QE862yEeLBMUnCqLko8QaugGkzvWS7uNfFQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style type="text/css" media="print">
      .no-print {
        display: none;
      }

      @page {
        size: auto; /* auto is the initial value */
        margin: 0mm; /* this affects the margin in the printer settings */
      }
    </style>

    <script>
      window.onload = () => {
        // Helper
        const dom = {
          select: document.querySelector.bind(document),
          slectAll: document.querySelectorAll.bind(document),
        };

        // Burger menu toggle
        const burger = dom.select(".navbar-burger");
        const menu = dom.select(".navbar-menu");
        console.log(burger);
        burger.addEventListener("click", () => {
          burger.classList.toggle("is-active");
          menu.classList.toggle("is-active");
        });

        console.log(`
    .__________________________.
    | .___________________. |==|
    | | Hello,            | |  |
    | |   fellow dev!     | |  |
    | |                   | |  |
    | | Found something   | |  |
    | | wrong? Email me!  | |  |
    | |                   | |  |
    | | farazzshaikh      | |  |
    | |        @gmail.com | | ,|
    | !___________________! |(c|
    !_______________________!__!
   /                            \\
  /  [][][][][][][][][][][][][]  \\
 /  [][][][][][][][][][][][][][]  \\
(  [][][][][____________][][][][]  )
 \\ ------------------------------ /
  \\______________________________/
        `);
      };
    </script>
  </head>
  <body>
    <div class="hero-head no-print">{% include Navbar.html %}</div>

    {{ content }} {% include Footer.html %}
  </body>
</html>
