<footer class="has-nice-link no-print">
  <div class="footer-container">
    {% include Newsletter.html %}

    <div class="socials-container" style="display: flex; flex-direction: column; flex: 1">
      <h1 class="title is-4 mb-0">Hire me</h1>
      <div class="column">
        <a class="icons" href="https://mail.google.com/mail/u/0/?fs=1&to=farazzshaikh@gmail.com&su=About...&body=Hey%20Faraz,%20....&tf=cm" target="_blank" rel="noreferrer">
          <i class="icon fas fa-envelope-open"></i>
        </a>
        <a class="icons" href="https://farazshaikh.com/" target="_blank" rel="noreferrer">
          <i class="icon fas fa-id-card"></i>
        </a>
      </div>

      <h1 class="title is-4 mb-0">Support me</h1>
      <div class="column has-nice-link">
        <a class="icons" href="https://www.paypal.com/paypalme/farazzshaikh" target="_blank" rel="noreferrer">
          <i class="icon fab fa-paypal"></i>
        </a>
        <a href="https://farazzshaikh.github.io/glNoise/examples/support.html?via=ETH" target="_blank" rel="noreferrer" class="icons">
          <i class="icon fab fa-ethereum"></i>
        </a>
        <a href="https://farazzshaikh.github.io/glNoise/examples/support.html?via=BTC" target="_blank" rel="noreferrer" class="icons">
          <i class="icon fab fa-bitcoin"></i>
        </a>
      </div>

      <h1 class="title is-4 mb-0">Follow me</h1>
      <div class="column">
        <a class="icons" target="_blank" href="https://github.com/FarazzShaikh" rel="noreferrer">
          <i class="icon fab fa-github"></i>
        </a>
        <a class="icons" target="_blank" href="https://www.linkedin.com/in/faraz-shaikh-811655166/" rel="noreferrer">
          <i class="icon fab fa-linkedin"></i>
        </a>
        <a class="icons" target="_blank" href="https://www.instagram.com/faar.az" rel="noreferrer">
          <i class="icon fab fa-instagram"></i>
        </a>
        <a class="icons" target="_blank" href="https://www.artstation.com/farazshaikh" rel="noreferrer">
          <i class="icon fab fa-artstation"></i>
        </a>
        <a class="icons" target="_blank" href="https://farazzshaikh.medium.com/" rel="noreferrer">
          <i class="icon fa fa-pencil-alt"></i>
        </a>
        <a class="icons" target="_blank" href="https://www.reddit.com/user/ppictures" rel="noreferrer">
          <i class="icon fab fa-reddit"></i>
        </a>
      </div>
    </div>
  </div>

  {% include Notices.html %}
</footer>
